---
layout: default
title: Cameras
permalink: /cameras/
---
<div class="manuals-page">
  <h1>Cameras</h1>
  <div class="manuals-list">
    {% for camera in site.data.cameras %}
      <div class="manual-item" {% if camera.ads and camera.ads[0].src %}style="background-image: url('{{ camera.ads[0].src }}');"{% endif %}>
        <h3><a href="/cameras/{{ camera.id }}/">{{ camera.title }}</a></h3>
        <p>{{ camera.description | strip_html | truncatewords: 10 }}</p>
      </div>
    {% endfor %}
  </div>
</div>
